body{background-color:#000;color:#fff}.home-btn{font-size:1.5rem}.home-btn:hover,.std-btn:hover{background-color:#000;border-color:#000;color:#0dcaf0}.std-success-btn:hover{background-color:#000;border-color:#000;color:#198754}
