body {
  background-color: black;
  color: white;
}

.home-btn {
  font-size: 1.5rem;
}

.home-btn:hover,
.std-btn:hover {
  background-color: black;
  border-color: black;
  color: #0dcaf0;
}

.std-success-btn:hover {
  background-color: black;
  border-color: black;
  color: #198754;
}

.std-success-modal-btn:hover {
  background-color: white;
  border-color: white;
  color: #198754;
}

.std-info-modal-btn:hover {
  background-color: white;
  border-color: white;
  color: #0dcaf0;
}
